.cardContainerWrapper {
  width: 920px;
  display: inline-block;
}
@media only screen and (max-width: 1000px) {
  .cardContainerWrapper {
    width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  .cardContainerWrapper {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  .cardContainerWrapper {
    width: 700px;
  }
}
@media only screen and (max-width: 700px) {
  .cardContainerWrapper {
    width: 650px;
  }
}
@media only screen and (max-width: 650px) {
  .cardContainerWrapper {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .cardContainerWrapper {
    width: 550px;
  }
}
@media only screen and (max-width: 550px) {
  .cardContainerWrapper {
    width: 315px;
  }
}
.instructionsArea {
  max-width: 450px;
  padding-left: 20px;
  display: inline-block;
}
@media only screen and (max-width: 1390px) {
  .instructionsArea {
    display: none;
  }
  .cardContainerWrapper {
    max-width: 1390px;
    width: 100%;
  }
}

.App {
  max-width: 1600px;
  margin: auto;
}
